{% extends "base.html" %}

{%  block start %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Profile Page</h1>
    <div class="col-md-2 border-left text-center more-offers">
        Username - {{user.username}}<br>
        Tickets Purchased - {{User_Bookings}}
        
    </div>
    <a href="/logout/" class="btn btn-primary mt-5 ">Logout</a>
</body>
</html>
{% endblock %}